.background{
background-color: rgb(213, 210, 210);
}

.row{
    padding-top: 50px;
    padding-bottom: 50px;
}

.reg-head{
    color: #fff;
    background-color: rgb(230, 124, 124);
    text-align: center;
}

.btn-primary{
    margin-bottom: 10px;
}

label{
    font-weight: 600;
    
}